@import '../../default.less';
@import '~antd/es/style/themes/default.less';

.modal {
  min-width: 900px;
  .footerButton {
    display: inline-block;
    margin-left: @page-gap-2;
    &:first-child {
      margin-left: 0;
    }
  }
  :global {
    .ant-skeleton-content {
      ul {
        padding-inline-start: 0;
        margin-bottom: 16px;
      }
    }
  }
  .steps {
    margin-bottom: @page-gap-6;
  }
}

@media screen and (max-width: @screen-lg) {
  .modal {
    min-width: 90vw;
  }
}
