[[source]]
name = "pypi"
url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple/"
verify_ssl = true

[dev-packages]

[packages]
pymysql = "*"
uwsgi = ">2.0"
xmltodict = "*"

[requires]
python_version = "3.7"
