@import '../../default.less';

.card {
  height: 424.8px;
  max-width: 380px;
  background: #fff;
  min-height: 424.8px;
  border-radius: @page-gap-1;
  margin: calc(50vh - 56.4px - 212.4px) auto;
  @media screen and (max-height: 112.8px + 424.8px + @page-gap-6) {
    margin: @page-gap-6 auto;
  }
  @media screen and (max-width: @screen-mobile) {
    margin: 0;
    width: 100vw;
    max-width: 100%;
    border-radius: 0;
    height: calc(100vh - 112.8px);
    padding: calc(50vh - 56.4px - 212.4px) 0;
  }
  .image {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    margin: @page-gap-4 auto @page-gap-2;
    background-image: url('../../assets/image/e93bf01915281f61d838d09f7f86aa00.png');
  }
  .title {
    line-height: 2;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
  }
  .description {
    font-size: 16px;
    text-align: center;
    margin-bottom: @page-gap-6;
  }
  .form {
    margin-bottom: @page-gap-4;
  }
}
