@import '../global.less';
@import '~antd/lib/style/themes/default.less';

.layout {
  min-height: 100vh;
}

.header {
  padding: 0;
  width: 100%;
  background: #001529;
}

.headerContainer {
  height: 64px;
  display: flex;
  margin: 0 auto;
  line-height: 64px;
  :global(.ant-menu) {
    flex: 1;
    height: 64px;
    -webkit-flex: 1;
    line-height: 64px;
    position: relative;
  }
  .leftContent {
    float: left;
    width: 180px;
    height: 32px;
    padding: 0 4px;
    font-size: 18px;
    margin: 16px 38px;
    line-height: 32px;
    text-align: center;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .transition-linear(0.2s, 0s);
    color: rgba(255, 255, 255, 0.9);
  }
  .rightContent {
    width: 120px;
    float: right;
    height: 100%;
    text-align: right;
    margin-right: @page-gap-4;
    .spin {
      width: 32px;
      margin-top: 4px;
      margin-right: 22px;
    }
    .avatarContainer {
      top: -4px;
      cursor: pointer;
      line-height: 64px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      i {
        color: #bfbfbf;
        vertical-align: middle;
      }
      .avatar {
        vertical-align: middle;
        margin-right: @page-gap-2;
        background: @primary-color;
      }
      .avatar:empty {
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 16px;
        display: inline-block;
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-image: url('../assets/avatar/cb032b06ddc63a4dd4993e280e94be72.svg');
      }
    }
  }
  &.collapsed {
    .leftContent {
      width: 72px;
      margin: 16px 4px;
      color: transparent;
    }
  }
}

body .userMenu {
  :global(.ant-dropdown-menu-item) {
    min-width: 200px;
    line-height: 24px;
    padding: 5px @page-gap-4;
  }
  .nickname {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    display: inline-block;
  }
}

.content {
  width: 100%;
  margin: auto;
  min-height: 72vh;
  margin: @page-gap-6 @page-gap-4;
}

.headerContainer,
.content {
  transition: all 0.32s 0.2s ease-in-out;
  -o-transition: all 0.32s 0.2s ease-in-out;
  -moz-transition: all 0.32s 0.2s ease-in-out;
  -webkit-transition: all 0.32s 0.2s ease-in-out;
}

.footer {
  color: #8c8c8c;
  text-align: center;
  line-height: 24px;
  a {
    margin: 0 @page-gap-1;
    font-size: @font-size-lg;
  }
}

@media screen and (max-width: @screen-xxl) {
}
