@import '../default.less';
@import '~antd/es/style/themes/default.less';

@headerHeight: 64px;

.layout {
  min-height: 100vh;
  .loading {
    width: 100%;
    text-align: center;
    padding: @page-gap-8 * 2 0;
  }
}

.header {
  padding: 0;
  width: 100%;
  background: #001529;
}

.headerContainer {
  height: @headerHeight;
  display: flex;
  margin: 0 auto;
  line-height: @headerHeight;
  .centerContent() {
    flex: 1;
    -webkit-flex: 1;
    position: relative;
    height: @headerHeight;
    line-height: @headerHeight;
  }
  .centerContentMobile {
    color: #fff;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .centerContent();
  }
  :global(.ant-menu) {
    .centerContent();
  }
  .leftContent {
    float: left;
    width: 192px;
    padding: 0 4px;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .user-select(none);
    .transition-linear(0.2s, 0s);
    margin: @page-gap-4 @page-gap-8;
    color: rgba(255, 255, 255, 0.9);
    height: calc(@headerHeight - @page-gap-4 * 2);
    line-height: calc(@headerHeight - @page-gap-4 * 2);
  }
  .rightContent {
    width: 120px;
    float: right;
    height: 100%;
    text-align: right;
    padding: 0 @page-gap-4;
    box-sizing: border-box;
    .spin {
      width: 32px;
      margin-right: 22px;
      margin-top: @page-gap-1;
    }
    .avatarContainer {
      top: -4px;
      cursor: pointer;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      line-height: @headerHeight;
      i {
        color: #bfbfbf;
        vertical-align: middle;
      }
      .avatar {
        vertical-align: middle;
        margin-right: @page-gap-2;
        background: @primary-color;
      }
      .avatar:empty {
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 16px;
        display: inline-block;
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-image: url('../assets/avatar/cb032b06ddc63a4dd4993e280e94be72.svg');
      }
    }
  }
  &.collapsed {
    .leftContent {
      width: 72px;
      color: transparent;
      margin: @page-gap-4 @page-gap-1;
    }
  }
  @media screen and (max-width: @screen-mobile) {
    .leftContent {
      cursor: pointer;
    }
    .rightContent {
      width: 100px;
      padding-left: 0;
    }
  }
}

body .userMenu {
  :global(.ant-dropdown-menu-item) {
    min-width: 200px;
    line-height: 24px;
    padding: 5px @page-gap-4;
  }
  .userName {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    display: inline-block;
    padding: @page-gap-1 @page-gap-4;
    .user-select(none);
    &:hover {
      cursor: unset;
      background-color: transparent;
    }
  }
}

.content {
  min-height: calc(100vh - @headerHeight);
}

.footer {
  color: #8c8c8c;
  text-align: center;
  line-height: 24px;
  a {
    margin: 0 @page-gap-1;
    font-size: @font-size-lg;
  }
}
